.form {
  /* background: #1c3d4c; */
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.form .contInputs {
  width: 100%;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem; */
}

.form .btnSend {
  background: var(--primario);
  color: var(--terciario);
  font-size: 1rem;
  border: 1px solid var(--primario);
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
  transition: all .5s ease;
  cursor: pointer;
}

.form .btnSend:hover {
  background: transparent;
  color: var(--primario);
}
