@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans+Condensed:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

:root {
  --primario: #33a1fb;
  --secundario: #13191f;
  --terciario: #ffffff;
  --cuarto: #aeaeae;
  --fondo: #f3f3f3;
  /* --fondo: #17171d; */
  --danger: #ee5555;
  --warning: #e1c004;
  --border: #3a3a3a;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
}
